.container{
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.form{
    display: flex;
    padding: 20px 10px;
    border: 2px solid black;
    border-radius: 15px;
}

.row{
    padding-top: 5vh;
    display: flex;
}

.todos{
    padding: 20px 10px;
    margin: 0px 5vw;
    border: 2px solid black;
    border-radius: 15px;
}

.actions{
    display: flex;
    flex-direction: column;
}

.icon{
    height: 100px;
    width: 100px;    
}

.button{
    margin: 10px 20px;
}

.form-elements{
    margin: 5px 10px;
}